{% extends "base.html" %}
{% block rows %}
<div class="container theme-showcase" role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Название</h1>
        <p>Описательное описание</p>
      </div>
	
	<!-- Панель  -->


	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Параметры корпуса</h2>
		</div>
		
		<div class="panel-body">
            <div class="container-fluid">
                <div class="row">
                    <button name="getCategories" class="btn btn-success" id="btn-get-categories">Получить категории</button>
                </div>
            </div>
            <hr>
            <div class="container-fluid">
                <div class = "row">
                <h2>Дерево категорий</h2>
                <div class="col-sm-4">
                  <h3>Поиск</h3>
                  <div class="form-group">
                    <label for="input-check-node" class="sr-only">Найти в дереве:</label>
                    <input type="input" class="form-control" id="input-check-node" placeholder="Введите имя категории ..." value="" data-toggle="collapse">
                  </div>

                    <div class="panel panel-default">
                         <a data-toggle="collapse" data-parent="#collapse-group" href="#el3"><div class="panel-heading">
                             <h4 class="panel-title">
                             Параметры
                             </h4>
                         </div></a>
                         <div id="el3" class="panel-collapse collapse">
                             <div class="panel-body">
                                <div class="checkbox">
                                    <label>
                                      <input type="checkbox" class="checkbox" id="chk-check-silent" value="false">
                                      Не отображать события
                                    </label>
                                </div>
                              <div class="form-group">
                                  <button type="button" class="btn btn-success check-node" id="btn-check-node">Выделить</button>
                              </div>
                              <div class="form-group">
                                <button type="button" class="btn btn-danger check-node" id="btn-uncheck-node">Снять отметку</button>
                              </div>
                              <div class="form-group">
                                <button type="button" class="btn btn-primary check-node" id="btn-toggle-checked">Переключить</button>
                              </div>
                             </div>
                         </div>
                     </div>
                  <hr>
                  <div class="form-group row">
                    <div class="col-sm-6">
                      <button type="button" class="btn btn-success" id="btn-check-all">Выделить все</button>
                    </div>
                  </div>
                  <button type="button" class="btn btn-danger" id="btn-uncheck-all">Отменить выделение</button>
                </div>
                <div class="col-sm-4">
                  <h3>Дерево</h3>
                  <div id="treeview1" class=""></div>
                </div>
                <div class="col-sm-4">
                  <h3>События</h3>
                  <div id="checkable-output"></div>
                </div>
                <hr>
                </div>
            </div>

            <hr>

            <div class="container-fluid">
                <div class = "row text-center">
                    <button name="acceptCategories" class="btn btn-success" id="btn-accept">Извлечь заголовки</button>
                </div>
            </div>

            <hr>

            <div class="container-fluid">
                <div class = "row">
                    <h2>Выбор заголовков</h2>
                    <select class="test-select" style="width: 75%"></select>
                </div>
                <div class = "row text-center">
                    <br>
                    <button name="acceptHeaders" class="btn btn-success" id="btn-accept">Подтвердить</button>
                    <br>
                </div>
            </div>

		</div>	<!-- end of panel body -->
	</div> <!-- end of panel -->
</div>
{% endblock %}